// ================== About page styles =================== //
.about {
  .unit__logo {
    padding-left: 5px;
  }
}

.about {
  &__intro {
    font-size: 20px;
    padding-top: 15px;
    font-weight: normal;
  }
  &__article {
    display: flex;
    color: $dark-blue;
    margin-left: -20px;
    .article__left-side {
      margin: 20px 15px 0 0;
      margin-right: 15px;
      margin-top: 30px;
      padding-right: 15px;
      border-right: 1px solid $light-gray;
      text-align: right;
      justify-content: right;
      flex-shrink: 0;
      width: 195px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $light-gray;
        top: -20px;
        right: -5px;
        border-radius: 50%;
      }

      .left-side__months {
        font-size: 11px;
        font-weight: 400;
        margin: -29px 0 -10px 0;
        text-transform: uppercase;
        &__from,
        &__to {
          display: inline-block;
          width: 62px;
          text-align: center;
        }
        &__from {
          display: inline-block;
        }
        &__to {
          margin-left: 24px;
          display: inline-block;
        }
      }
      .left-side__years {
        font-size: 30px;
        font-weight: bold;
        position: relative;
        padding-bottom: 20px;
        &::after {
          position: absolute;
          content: "";
          display: block;
          right: 0;
          bottom: 12px;
          width: 120px;
          height: 1px;
          background-color: $light-gray;
        }
      }
      .left-side__title {
        font-size: 16px;
        font-weight: 700;
      }
      .left-side__descr {
        font-style: italic;
        margin-top: 5px;
        font-size: 17px;
      }
    }
    .article__right-side {
      .right-side__title {
        font-size: 18px;
        font-weight: 700;
      }
      .right-side__descr {
        font-size: 20px;
      }
    }
  }

  &__heading {
    color: $dark-blue;
    font-size: 1.8rem;
  }
}

.skill-cards__container {
  background-color: $light-gray;
  margin: 0 -39px;
  padding: 39px;
}

.skill-card {
  &:first-child {
    padding-top: 0;
  }
  width: 100%;
  padding: 8px 20px;
  &__title {
    font-size: 15px;
    margin-bottom: 3px;
  }
  &__bar {
    background-color: #fff;
    width: 100%;
    height: 7px;
  }
  &__bar_fill {
    background-color: $dark-blue;
    height: 100%;
  }
}
.circle_skill-card {
  text-align: center;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    font-size: 17px;
    padding-top: 0;
  }
  .CircularProgressbar-text {
    transform: translate(-10px, 8px);
  }
  .progress-bar__wrapper {
    display: flex;
    justify-content: center;
  }
}
