@import "../variables";

.project-details {
  .project__nav-link {
    color: $light-gray !important;
    i {
      margin-right: 7px;
      vertical-align: -1px;
      transition: 0.3s;
    }
    span {
      font-size: 20px;
      transition: 0.3s;
    }
    &:hover {
      i {
        color: $tomato;
      }
      span {
        color: $dark-blue;
      }
    }
  }
  &__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
  }
  &__source-link {
    i {
      transition: 0.4s;
      display: inline-block;
      vertical-align: -1px;
      padding-right: 5px;
    }
    font-weight: 400;
    font-size: 18px;
    &:hover {
      i {
        color: $tomato;
      }
    }
  }
  &__bottom-nav {
    padding-top: 10px;
    border-top: 1px solid $light-gray;
    display: flex;
    justify-content: space-between;
  }
}
