// ================== Variables =================== //
$sizes: (
  "xs": 320px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

$dark-blue: #2c3b4e;
$light-gray: #9c9c9c;

$tomato: #ed553b;

$green: #00f260;
$blue: #0575e6;
$black: #333333;
