@import "variables";
@import "mixins";
@import "fonts";
@import "sidebar";
@import "pages/about.scss";

// ================== General styles =================== //

a,
a:link,
a:visited,
a:focus {
  text-decoration: none;
  color: $black;
  transition: 0.4s;
}

a:hover {
  color: #000;
}

body {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "RobotoCondenced";
  color: $black;
  background: url("../assets/bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(15px) brightness(50%);
  letter-spacing: 0 !important;
  font-weight: 200;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 25px;
  font-family: "RobotoCondenced";
  color: $black;
}

.btn {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 300;
  border: 1px solid;
  &__icon {
    padding-right: 10px;
    transition: 0.5s;
  }
}
.btn-light {
  background-color: transparent;
  border-color: #fff;
  border-radius: 0;
  color: #fff !important;
  &:hover {
    .btn__icon {
      color: $tomato;
    }
    color: $dark-blue !important;
  }
}

.bkg-gradient {
  background: #00f260;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $green, $blue);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $green, $blue);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.unit {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  .unit__logo {
    font-size: 15px;
    padding: 5px;
    position: relative;
    width: 40px;
    margin: 20px 30px 20px 0;
  }
  .unit__logo::after {
    content: "";
    display: block;
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 40px;
    height: 40px;
  }
  .unit__name {
    font-size: 20px;
    margin-right: 15px;
    letter-spacing: 1px;
    flex-shrink: 0;
    font-weight: 300 !important;
  }
  .unit__line {
    margin-top: 4px;
    margin-right: -15px;
    height: 1px;
    width: 100%;
    background-color: #fff;
  }
}

.unit.unit_dark-bkg {
  color: #fff;
  .unit__logo {
    color: #fff;
  }
  .unit__logo::after {
    border-color: #fff;
  }
  .unit__line {
    background-color: #fff;
  }
}

.unit.unit_light-bkg {
  color: $dark-blue;
  .unit__logo {
    color: $dark-blue;
    transform-style: preserve-3d;
  }
  .unit__logo::after {
    transform: translate(-50%, -50%) rotate(45deg) translateZ(-1px);
    border-color: $dark-blue;
    background-color: #fff;
  }
  .unit__name {
    color: $dark-blue;
  }
  .unit__line {
    background-color: $dark-blue;
  }
}

// ================== App styles =================== //

.app {
  padding-top: 50px;
  padding-bottom: 50px;

  .sidebar,
  &__content {
    padding: 30px 15px;
    box-shadow: 16px 20px 30px rgba(0, 0, 0, 0.6),
      16px -20px 30px rgba(0, 0, 0, 0.6);
  }

  .sidebar {
    box-shadow: -16px 20px 30px rgba(0, 0, 0, 0.6),
      -16px -20px 30px rgba(0, 0, 0, 0.6);
  }

  &__content {
    margin-left: -12px;
    background-color: #e1e2e6;
    @include media("max", "lg") {
      margin-top: 30px;
    }

    @include media("max", "md") {
      margin-top: 15px;
    }
  }
}

// ================== Navbar styles =================== //

.navbar {
  &__active {
    font-size: 25px;
    color: $dark-blue;
    border-bottom: 4px solid $green;
  }

  &__items {
    display: flex;
  }

  &__item {
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    cursor: pointer;
    color: $dark-blue;
    transition: 0.4s;
  }
  &__item:hover {
    color: #000;

    background: #00f260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, $blue, $green);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, $blue, $green);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-clip: text;
  }
}

// ================== Resume page styles =================== //

.bar {
  background-color: $light-gray;
  border-radius: 30px;
  &__wrapper {
    padding: 3px 0;
    border-radius: 30px;
  }
  margin: 10px 0;

  &__icon {
    margin: 0 10px;
    width: 15px;
    height: 15px;
  }
  &__name {
    color: #fff;
  }
}

// ================== Projects page styles =================== //

.project-card {
  &__image {
    width: 100%;
    transition: 0.5s;
  }
  &__image:hover {
    border-radius: 20px;
  }

  &__link {
    display: block;
    border-radius: 20px;
    cursor: pointer;
  }

  &__title {
    margin: 5px 0;
    display: flex;
    align-self: center;
    justify-content: center;

    img {
      width: 25px;
      margin-right: 10px;
    }
    img:hover {
      border-radius: 20px;
    }
    p {
      padding-top: 4px;
      margin: 0;
    }
  }
}
